@{
    ViewData["Title"] = "Thông tin cá nhân";
}
<h1>@ViewData["Title"]</h1>

<h3>Thông tin sinh viên dự thi</h3>
<p><strong>Họ và tên:</strong> Vu Van Doan</p>
<p><strong>Mã sinh viên:</strong>231230746</p>
<p><strong>Lớp:</strong> CNTT1_k64 </p>